.footer {
  z-index: 1050 !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: transparent;
  height: var(--footer-height);
  box-shadow: var(--box-shadow-custom-2);
  padding: 0 .5rem;

  &-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

      &-logo{
        cursor: pointer;
        color: white;
        margin: 0;
      }
    }
}
