.homepage{
  display: flex;
  justify-content: space-between;
}

.card-language{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 2rem;
}

.page-carousel{
  height: 97vh;
  padding-top: calc(var(--navbar-height));
  position: absolute;
  top: 0;
  width: 100%;
}


