<div class="bg-component">
  <div class="homepage w-100 h-100">
    <div class="card-language col-1 py-3">
      <h4 class="text-white text-rotate cursor-pointer" (click)="changeToIta()">{{ "ITA" | translate }}</h4>
      <h4 class="text-white text-rotate cursor-pointer" (click)="changeToEng()">{{ "ENG" | translate }}</h4>
    </div>
    <div class="d-flex align-items-center text-white col-10">
      <div class="typewriter">
        <h1>{{ "Ciao, mi chiamo" | translate }}</h1>
        <h1 class="animation">Stefano Bonnici</h1>
      </div>
    </div>
    <div class="card-language col-1 py-3">
      <a href="https://github.com/xStephB" target="_blank">
        <fa-icon class="h2" [icon]="faGithub"></fa-icon>
      </a>
      <a href="https://it.linkedin.com/in/stefano-bonnici-382414198" target="_blank">
        <fa-icon class="h2" [icon]="faLinkedin"></fa-icon>
      </a>
    </div>
  </div>
</div>
