<div class="bg-viewer">
  <div class="text-end p-3 position-sticky top-0">
    <fa-icon class="h1 cursor-pointer" [icon]="faXmark" (click)="closeAll.emit()"></fa-icon>
  </div>
  <div class="text-center">
    <h5 class="text-secondary-custom m-0">{{ "Queste sono le mie competenze FE" | translate }}</h5>
    <h1 class="text-white fw-bold content-title">{{ "FRONT END" }}</h1>
  </div>
  <div class="col-12 d-flex flex-column row-gap-3 align-items-center py-3">
    <div class="scroll" style="--time:50s">
      <div>
        <span>Angular</span>
        <span>AngularJS</span>
        <span>Bootstrap</span>
        <span>CSS</span>
        <span>HTML</span>
        <span>Javascript</span>
        <span>JSON</span>
        <span>Responsività mobile</span>
        <span>NgRx</span>
        <span>SCSS</span>
        <span>Typescript</span>
        <span>Vue</span>
        <span>Vuex</span>
        <span>Pinia</span>
      </div>
      <div>
        <span>Angular</span>
        <span>AngularJS</span>
        <span>Bootstrap</span>
        <span>CSS</span>
        <span>HTML</span>
        <span>Javascript</span>
        <span>JSON</span>
        <span>Responsività mobile</span>
        <span>NgRx</span>
        <span>SCSS</span>
        <span>Typescript</span>
        <span>Vue</span>
        <span>Vuex</span>
        <span>Pinia</span>
      </div>
    </div>
    <div class="scrollReverse" style="--time:30s">
      <div>
        <span>Angular</span>
        <span>AngularJS</span>
        <span>Bootstrap</span>
        <span>CSS</span>
        <span>HTML</span>
        <span>Javascript</span>
        <span>JSON</span>
        <span>Responsività mobile</span>
        <span>NgRx</span>
        <span>SCSS</span>
        <span>Typescript</span>
        <span>Vue</span>
        <span>Vuex</span>
        <span>Pinia</span>
      </div>
      <div>
        <span>Angular</span>
        <span>AngularJS</span>
        <span>Bootstrap</span>
        <span>CSS</span>
        <span>HTML</span>
        <span>Javascript</span>
        <span>JSON</span>
        <span>Responsività mobile</span>
        <span>NgRx</span>
        <span>SCSS</span>
        <span>Typescript</span>
        <span>Vue</span>
        <span>Vuex</span>
        <span>Pinia</span>
      </div>
    </div>
    <div class="scroll" style="--time:30s">
      <div>
        <span>Angular</span>
        <span>AngularJS</span>
        <span>Bootstrap</span>
        <span>CSS</span>
        <span>HTML</span>
        <span>Javascript</span>
        <span>JSON</span>
        <span>Responsività mobile</span>
        <span>NgRx</span>
        <span>SCSS</span>
        <span>Typescript</span>
        <span>Vue</span>
        <span>Vuex</span>
        <span>Pinia</span>
      </div>
      <div>
        <span>Angular</span>
        <span>AngularJS</span>
        <span>Bootstrap</span>
        <span>CSS</span>
        <span>HTML</span>
        <span>Javascript</span>
        <span>JSON</span>
        <span>Responsività mobile</span>
        <span>NgRx</span>
        <span>SCSS</span>
        <span>Typescript</span>
        <span>Vue</span>
        <span>Vuex</span>
        <span>Pinia</span>
      </div>
    </div>
    <div class="scrollReverse" style="--time:50s">
      <div>
        <span>Angular</span>
        <span>AngularJS</span>
        <span>Bootstrap</span>
        <span>CSS</span>
        <span>HTML</span>
        <span>Javascript</span>
        <span>JSON</span>
        <span>Responsività mobile</span>
        <span>NgRx</span>
        <span>SCSS</span>
        <span>Typescript</span>
        <span>Vue</span>
        <span>Vuex</span>
        <span>Pinia</span>
      </div>
      <div>
        <span>Angular</span>
        <span>AngularJS</span>
        <span>Bootstrap</span>
        <span>CSS</span>
        <span>HTML</span>
        <span>Javascript</span>
        <span>JSON</span>
        <span>Responsività mobile</span>
        <span>NgRx</span>
        <span>SCSS</span>
        <span>Typescript</span>
        <span>Vue</span>
        <span>Vuex</span>
        <span>Pinia</span>
      </div>
    </div>

    <div class="scroll imgBox" style="--time:40s">
      <div>
        <img src="assets/img/angular.png" alt="">
        <img src="assets/img/angularjs.png" alt="">
        <img src="assets/img/bootstrap.png" alt="">
        <img src="assets/img/css.png" alt="">
        <img src="assets/img/html.png" alt="">
        <img src="assets/img/js.png" alt="">
        <img src="assets/img/json.png" alt="">
        <img src="assets/img/mobile.png" alt="">
        <img src="assets/img/ngrx.png" alt="">
        <img src="assets/img/scss.png" alt="">
        <img src="assets/img/ts.png" alt="">
        <img src="assets/img/vue.png" alt="">
        <img src="assets/img/VUEX.png" alt="">
        <img src="assets/img/pinia.png" alt="">
      </div>
      <div>
        <img src="assets/img/angular.png" alt="">
        <img src="assets/img/angularjs.png" alt="">
        <img src="assets/img/bootstrap.png" alt="">
        <img src="assets/img/css.png" alt="">
        <img src="assets/img/html.png" alt="">
        <img src="assets/img/js.png" alt="">
        <img src="assets/img/json.png" alt="">
        <img src="assets/img/mobile.png" alt="">
        <img src="assets/img/ngrx.png" alt="">
        <img src="assets/img/scss.png" alt="">
        <img src="assets/img/ts.png" alt="">
        <img src="assets/img/vue.png" alt="">
        <img src="assets/img/VUEX.png" alt="">
        <img src="assets/img/pinia.png" alt="">
      </div>
    </div>
  </div>
</div>

