<div class="bg-viewer">
  <div class="text-end p-3 position-sticky top-0">
    <fa-icon class="h1 cursor-pointer" [icon]="faXmark" (click)="closeAll.emit()"></fa-icon>
  </div>
  <div class="text-center">
    <h5 class="text-secondary-custom m-0">{{ "Queste sono le mie competenze" | translate }}</h5>
  </div>
  <div class="col-12 d-sm-block d-md-flex py-3">
    <div class="col-sm-12 col-md-6">
      <h1 class="text-white content-title fw-bold text-center">FRONTEND</h1>
      <div class="grid-cards-custom">
        <article class="card-custom">
          <img src="assets/img/html.png" width="200">
          <h3>HTML5</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/css.png" width="140" height="110">
          <h3>CSS</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/scss.png" width="100">
          <h3>SCSS</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/bootstrap.png" width="100">
          <h3>Bootstrap</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/angular.png" width="100">
          <h3>Angular</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/angularjs.png" width="100">
          <h3>AngularJS</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/ngrx.png" width="100">
          <h3>NgRx</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/ts.png" width="100">
          <h3>Typescript</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/vue.png" width="100">
          <h3>VueJS</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/VUEX.png" width="100">
          <h3>Vuex</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/js.png" width="100">
          <h3>Javascript</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/json.png" width="100">
          <h3>JSON</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/mobile.png" width="100">
          <h3>{{ "Responsività mobile" | translate }}</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <h1 class="text-white content-title fw-bold text-center">BACKEND</h1>
      <div class="grid-cards-custom">
        <article class="card-custom">
          <img src="assets/img/postgresql.png" width="100">
          <h3>PostgreSQL</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/node.png" width="100">
          <h3>NodeJS</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/fastify.png" width="200">
          <h3>Fastify</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
        <article class="card-custom">
          <img src="assets/img/sql.png" width="200">
          <h3>SQL</h3>
          <small class="border-animate top"></small>
          <small class="border-animate right"></small>
          <small class="border-animate bottom"></small>
          <small class="border-animate left"></small>
        </article>
      </div>
    </div>
  </div>
</div>
