<app-navbar
  [menuMobile]="menuMobile"
  (viewContact)="viewContact()"
  (viewBlog)="viewBlog()"
  (viewPortfolio)="viewPortfolio()"
  (viewPortfolioBackEnd)="viewPortfolioBackEnd()"
  (viewResume)="viewResume()"
  (viewAbout)="viewAbout()"
  (toggleMenu)="toggleMenu()"
></app-navbar>
<div class="h-100 w-100">
  <div class="bg-app h-100 px-3">
    <app-homepage [dataNascita]="dataNascita"></app-homepage>
  </div>
</div>
@if(menuMobile){
  <app-menu-mobile
    [menuMobile]="menuMobile"
    (viewContact)="viewContact()"
    (viewBlog)="viewBlog()"
    (viewPortfolio)="viewPortfolio()"
    (viewPortfolioBackEnd)="viewPortfolioBackEnd()"
    (viewResume)="viewResume()"
    (viewAbout)="viewAbout()"
    (toggleMenu)="toggleMenu()"
  ></app-menu-mobile>
}
@if(showAbout){
  <app-about
    [dataNascita]="dataNascita"
    (closeAll)="closeAll()"
  ></app-about>
}
@if(showResume){
  <app-resume
    (closeAll)="closeAll()"
  ></app-resume>
}
@if(showPortfolio){
  <app-portfolio
    (closeAll)="closeAll()"
  ></app-portfolio>
}
@if(showPortfolioBackEnd){
  <app-portfolio-backend
    (closeAll)="closeAll()"
  ></app-portfolio-backend>
}
<!--@if(showBlog){-->
<!--  <app-blog-->
<!--    (closeAll)="closeAll()"-->
<!--  ></app-blog>-->
<!--}-->
@if(showContact){
  <app-contact
    (closeAll)="closeAll()"
  ></app-contact>
}
