<div class="bg-viewer">
  <div class="text-end p-3 position-sticky top-0">
    <fa-icon class="h1 cursor-pointer" [icon]="faXmark" (click)="toggleMenu.emit()"></fa-icon>
  </div>
  <div class="text-center pb-4">
    <h5 class="text-secondary-custom m-0">{{ "Menù mobile" | translate }}</h5>
  </div>
  <div class="d-flex flex-column row-gap-3 text-white px-3">
    <div class="d-flex align-items-center border-bottom">
      <h1 class="navbar-container-content-pages-link" (click)="viewAbout.emit()">{{ "Chi sono" | translate }}</h1>
    </div>
    <div class="d-flex align-items-center border-bottom">
      <h1 class="navbar-container-content-pages-link" (click)="viewResume.emit()">{{ "Carriera" | translate }}</h1>
    </div>
    <div class="d-flex align-items-center border-bottom">
      <h1 class="navbar-container-content-pages-link" (click)="viewPortfolio.emit()">{{ "Skills FE" | translate }}</h1>
    </div>
    <div class="d-flex align-items-center border-bottom">
      <h1 class="navbar-container-content-pages-link" (click)="viewPortfolioBackEnd.emit()">{{ "Skills BE" | translate }}</h1>
    </div>
    <div class="d-flex align-items-center border-bottom">
      <h1 class="navbar-container-content-pages-link" (click)="viewContact.emit()">{{ "Contatti" | translate }}</h1>
    </div>
  </div>
</div>
