<div class="bg-viewer">
  <div class="text-end p-3 position-sticky top-0">
    <fa-icon class="h1 cursor-pointer" [icon]="faXmark" (click)="closeAll.emit()"></fa-icon>
  </div>
  <div class="text-center">
    <h5 class="text-secondary-custom m-0">{{ "Queste sono le mie competenze BE" | translate }}</h5>
    <h1 class="text-white fw-bold content-title">{{ "BACK END" }}</h1>
  </div>
  <div class="col-12 d-flex flex-column row-gap-3 align-items-center py-3">
    <div class="scroll" style="--time:50s">
      <div>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
      </div>
      <div>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
      </div>
    </div>
    <div class="scrollReverse" style="--time:30s">
      <div>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
      </div>
      <div>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
      </div>
    </div>
    <div class="scroll" style="--time:30s">
      <div>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
      </div>
      <div>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
      </div>
    </div>
    <div class="scrollReverse" style="--time:50s">
      <div>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
      </div>
      <div>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
        <span>PostgreSQL</span>
        <span>Node</span>
        <span>Fastify</span>
        <span>SQL</span>
      </div>
    </div>

    <div class="scroll imgBox" style="--time:40s">
      <div>
        <img src="assets/img/postgresql.png" alt="">
        <img src="assets/img/node.png" alt="">
        <img src="assets/img/fastify.png" alt="">
        <img src="assets/img/sql.png" alt="">
        <img src="assets/img/postgresql.png" alt="">
        <img src="assets/img/node.png" alt="">
        <img src="assets/img/fastify.png" alt="">
        <img src="assets/img/sql.png" alt="">
      </div>
      <div>
        <img src="assets/img/postgresql.png" alt="">
        <img src="assets/img/node.png" alt="">
        <img src="assets/img/fastify.png" alt="">
        <img src="assets/img/sql.png" alt="">
        <img src="assets/img/postgresql.png" alt="">
        <img src="assets/img/node.png" alt="">
        <img src="assets/img/fastify.png" alt="">
        <img src="assets/img/sql.png" alt="">
      </div>
    </div>
  </div>
</div>
