<div class="bg-viewer">
  <div class="w-100">
    <div class="text-center">
      <h5 class="text-secondary-custom m-0">{{ "Queste sono le mie competenze" | translate }}</h5>
    </div>
    <div class="col-12 d-sm-block d-md-flex py-3">
      <div class="scroll">
        <div class="m-scroll">
          <span><article class="card-custom">
            <img src="assets/img/postgresql.png" width="100">
            <h3>PostgreSQL</h3>
            <small class="border-animate top"></small>
            <small class="border-animate right"></small>
            <small class="border-animate bottom"></small>
            <small class="border-animate left"></small>
          </article></span>
          <span><article class="card-custom">
            <img src="assets/img/node.png" width="100">
            <h3>NodeJS</h3>
            <small class="border-animate top"></small>
            <small class="border-animate right"></small>
            <small class="border-animate bottom"></small>
            <small class="border-animate left"></small>
          </article></span>
          <span><article class="card-custom">
            <img src="assets/img/fastify.png" width="200">
            <h3>Fastify</h3>
            <small class="border-animate top"></small>
            <small class="border-animate right"></small>
            <small class="border-animate bottom"></small>
            <small class="border-animate left"></small>
          </article></span>
          <span><article class="card-custom">
            <img src="assets/img/sql.png" width="200">
            <h3>SQL</h3>
            <small class="border-animate top"></small>
            <small class="border-animate right"></small>
            <small class="border-animate bottom"></small>
            <small class="border-animate left"></small>
          </article></span>
          <span><article class="card-custom">
            <img src="assets/img/postgresql.png" width="100">
            <h3>PostgreSQL</h3>
            <small class="border-animate top"></small>
            <small class="border-animate right"></small>
            <small class="border-animate bottom"></small>
            <small class="border-animate left"></small>
          </article></span>
          <span><article class="card-custom">
            <img src="assets/img/node.png" width="100">
            <h3>NodeJS</h3>
            <small class="border-animate top"></small>
            <small class="border-animate right"></small>
            <small class="border-animate bottom"></small>
            <small class="border-animate left"></small>
          </article></span>
          <span><article class="card-custom">
            <img src="assets/img/fastify.png" width="200">
            <h3>Fastify</h3>
            <small class="border-animate top"></small>
            <small class="border-animate right"></small>
            <small class="border-animate bottom"></small>
            <small class="border-animate left"></small>
          </article></span>
          <span><article class="card-custom">
            <img src="assets/img/sql.png" width="200">
            <h3>SQL</h3>
            <small class="border-animate top"></small>
            <small class="border-animate right"></small>
            <small class="border-animate bottom"></small>
            <small class="border-animate left"></small>
          </article></span>
        </div>
      </div>
    </div>
  </div>
</div>

