<div class="bg-viewer">
  <div class="text-end p-3 position-sticky top-0">
    <fa-icon class="h1 cursor-pointer" [icon]="faXmark" (click)="closeAll.emit()"></fa-icon>
  </div>
  <div class="text-center">
    <h5 class="text-secondary-custom fw-bold content-title">{{ "Formazione e carriera" | translate }}</h5>
  </div>
  <div class="col-12 d-sm-block d-md-flex p-3 justify-content-md-around">
    <div class="col-sm-12 col-md-5">
      <h3 class="text-white content-title fw-bold text-center">{{ "Formazione" | translate }}</h3>
      <div class="d-flex flex-column row-gap-2">
        <div class="d-flex align-items-center">
          <div class="d-flex flex-column align-items-start p-3 carriera">
            <h3 class="text-white m-0">{{ "Università di Catania" | translate }}</h3>
            <p class="text-secondary-custom m-0">{{ "Facoltà di Informatica" | translate }}</p>
            <p class="text-secondary-custom m-0">{{ "Ottobre 2021 / ---" | translate }}</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="d-flex flex-column align-items-start p-3 carriera">
            <h3 class="text-white m-0">{{ "Diploma perito ragione informatico, 80/100" | translate }}</h3>
            <p class="text-secondary-custom m-0">{{ "I.I.S. G. De Felice Giuffrida Olivetti, Catania." }}</p>
            <p class="text-secondary-custom m-0">{{ "Settembre 2014 / Luglio 2019" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5">
      <h3 class="text-white content-title fw-bold text-center">{{ "Carriera informatica" | translate }}</h3>
      <div class="d-flex flex-column row-gap-2">
        <div class="d-flex align-items-center">
          <div class="d-flex flex-column align-items-start p-3 carriera">
            <h3 class="text-white m-0">{{ "Junior Full Stack Developer" }}</h3>
            <p class="text-secondary-custom m-0">{{ "RbTech S.R.L" }}</p>
            <p class="text-secondary-custom m-0">{{ "Gennaio 2024 / In corso..." | translate }}</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="d-flex flex-column align-items-start p-3 carriera">
            <h3 class="text-white m-0">{{ "Web Developer" }}</h3>
            <p class="text-secondary-custom m-0">{{ "RbTech S.R.L" }}</p>
            <p class="text-secondary-custom m-0">{{ "Gennaio 2023 / Gennaio 2024" | translate }}</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="d-flex flex-column align-items-start p-3 carriera">
            <h3 class="text-white m-0">{{ "Junior Web Developer" }}</h3>
            <p class="text-secondary-custom m-0">{{ "RbTech S.R.L" }}</p>
            <p class="text-secondary-custom m-0">{{ "Febbraio 2022 / Gennaio 2023" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
